#DetailContainer {
    width: 100%;
    height: 100vh;
    font-family: 'main', sans-serif;
    padding: 2.5rem;
    background: #fcfcfc;
}

#DetailContainer > .detail > .title {
    font-size: 2rem;
    text-shadow: 4px 4px 3px grey;
    margin-bottom: 1rem;
}

#DetailContainer > .detail > .sub {
    font-size: 1rem;
    color: #696969;
    margin-bottom: 3rem;
}

#DetailContainer > .detail > .element {
    margin-bottom: .5rem;
}

#DetailContainer > .detail > .element:last-child {
    margin-top: 1rem;
}

.detail > .element > .menu {
    font-size: 1.5rem;
}