#HomeContainer {
    width: 100%;
    height: 100vh;
    /*overflow: hidden;*/
    position: relative;
    font-family: 'main', sans-serif;
}

#HomeContainer > .background {
    width: 100%;
    height: 100%;
    background-image: url('/images/home_background_05.jpg');
    background-size: 100% 100%;
    filter: brightness(60%) contrast(400%);
}

#logo {
    position: absolute;
    left: 0;
    top: 35%;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 6px 6px 8px black;
}

#logo > span {
    font-size: 1.5rem;
}

#SearchBar {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    background: transparent !important;
    padding: .5rem 2rem 2rem;
}