@font-face {
    src: url('/fonts/main.ttf');
    font-family: 'main'
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

p {
    margin: 0;
}